
@media all and (max-width: 985px) {
 .left .menu-icon i {
 display: inline-block;
 }
 .left ul {
 display: none;
 }
 .header-area .left ul li {
 list-style: none;
 display: block;
 margin-right: 15px;
 background-color: lightgray;
 padding-bottom: 10px;
 transition: .7s;
 padding-left: 80px;
 margin-top: 2px;
 text-align: left;
 color: white;
 border-bottom: 1px solid #979797;
 }

 
 header.main-header:hover {
 transition: .10s;
 transform: scale(1);
 }

 .left ul li:hover {
 border: none;
 }
 .header-area .left ul li {
 border: none;
 }
 .left ul li:hover {
 background-color: black;
 }
 .left {
 position: relative;
 }
 .left ul {
 position: absolute;
 top: 100%;
 right: 0;
 }
 header .left ul li:hover a {
 color: white;
 }
 
 .left .menu-icon i {
 font-size: 40px;
 color: white;
 z-index: 1;;
 border: 1px solid #f5f5f5;
 padding: 10px 10px;
 cursor: pointer;
 }
 .list {
 width: 100%;
 float:left;
 }
 .list .first-list {
 margin-right: 30px;
 }
}
 /* Responsive for 800px */

 @media all and (max-width: 800px) {
 /* header area */
 body header {
 background-repeat: no-repeat;
 background-size: 100% 100%;
 padding-bottom: 115px;
 background-position: center center;
 }
 .header-area .text {
 width: 100%;
 margin-top: 100px;
 text-align: left;
 }
 .right a {
 padding-left: 30px;
 }
 
 
 
 .text1 {
 margin-left: 100px;
 font-size: 16px;
 }
 .para {
 margin-left: 100px;
 }
 
 .link {
 margin-top: 90px;
 text-align: center;
 }
 /* skill-Section */
 .working-exprience .left-side {
 width: 100%;
 padding-bottom: 110px;
 }
 .working-exprience .right-side {
 width: 100%;
 }
 /* icon-Area */
 .icon-area .feedback {
 width: 50%;
 float: left;
 margin-top: 60px;
 margin-bottom: 35px;
 }
 /* working-Area */
 .work-section .video video {
 width: 100%;
 max-height: 100%;
 }
 /* category-Section */
 .category-area .category .item {
 width: 50%;
 }
 .category-area .category .item:nth-child( 2n + 1) {
 clear: both;
 }
 .stiker .stikker-area .stiker-pic {
 width: 50%;
 margin-bottom: 30px;
 margin-top: 20px;
 }
 .stiker .stikker-area .stiker-pic:nth-child(2n+1) {
 clear: both;
 }
 /* ragistration-area */
 .registration .ragistar textarea {
 width: 265px;
 }
 /* footer-area */
 .footer-area .first {
 width: 40%;
 margin-left: 10%;
 margin-bottom: 40px;
 }
 .footer-area .second {
 width: 50%;
 }
 .list {
 width: 100%;
 float:left;
 }
 .list .first-list {
 margin-right: 30px;
 }
 }
 
 @media all and (max-width: 638px) {
 .list .first-list {
 }
 /* Responsive for 685px */
 @media all and (max-width: 685px) {
 /* Gallery-SAection */
 .gallary .gallary-pic {
 width: 50%;
 float: left;
 max-height: 300px;
 }
 .gallary img {
 width: 100%;
 height: 160px;
 }

 .gallary .gallary-pic:nth-child( 7 ) .one-more{
 height: 250px;
 }
 
 .gallary .gallary-pic:nth-child( 8 ) .more{
 height: 220px;
 } 
 
 /* happy-moment */
 .moment-text .momment {
 text-align: left;
 }
 .momment .happy-text {
 font-size: 20px;
 line-height: 1.6;
 }
 .proggress-round {
 margin-left: 270px;
 }
 }
 /* Responsive for 500px */
 @media all and (max-width: 500px) {
 /* icon-Area */
 .icon-area .feedback:nth-child(2n+1) {
 clear: both;
 }

  .upper .right a {
 display: inline-block;
 margin-left: 15px;
 }
 .feedback .icon {
 margin-right: 15px;
 }
 /* Gallary Section */
 .gallary-section .gallary .gallary-pic {
 max-height: 200px;
 }
 /* happy-moment */
 .proggress-round {
 margin-top: -45px;
 margin-left: 170px;
 }
 .stiker .stikker-area .stiker-pic {
 width: 50%;
 }
 .stiker-Area .stiker {
 margin-left: 50px;
 }
  
 .registration .ragistar textarea {
 width: 210px;
 }
 .name-text {
 text-align: center;
 margin-top: 50px;
 }
 .moment-text .momment {
 padding: 50px 0;
 }
 }
 
 